.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}

.buy-now-button{
   background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}